.leaflet-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.map-search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 999;
    width: 100%;
}

.map-search-container li:before {
    content: "\f041"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.search-marker {
    color: #fc8428;
}

.h-value {
    padding: 0px 5px;
}

.h-share {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    padding: 6px;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #333;
}